services:
  yuki:
    image: himee3/yuki:1.0.0
    container_name: yuki-os
    privileged: true
    runtime: nvidia
    network_mode: host
    ipc: host
    shm_size: '4gb'
    
    environment:
      - DISPLAY=:99
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
      - USER=hime # Must match the BUILD_USER in your Dockerfile 'hime' by default (so if you want to use another user need to rebuild the image from 'https://github.com/niggetchuckens/Yuki-Docker')
      - WLR_BACKEND=headless
      - WLR_LIBINPUT_NO_DEVICES=1
      - XDG_RUNTIME_DIR=/tmp/runtime-hime
      - GBM_BACKEND=nvidia-drm
      - __GLX_VENDOR_LIBRARY_NAME=nvidia

    devices:
      - /dev/uinput:/dev/uinput
      - /dev/dri:/dev/dri
      - /dev/input:/dev/input
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/nvidia-uvm:/dev/nvidia-uvm

    volumes:
      - /run/udev:/run/udev:ro
      - /run/dbus:/run/dbus:ro
      - /home/hime/.config/sunshine:/home/hime/.config/sunshine
      - /tmp/.X11-unix:/tmp/.X11-unix 

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, video, compute, utility, display, graphics]

    restart: unless-stopped
    stdin_open: true
    tty: true